@import '../main.scss';

.about-image-wrapper {
	height: 80vh;
	width: 50vw;
	margin: 0;
	float: left;
	display: inline-block;
	margin-top: 10vh;
	text-align: center;
}

.about-image {
	max-width: 90%;
	max-height: 80%;
	display: inline-block;
	vertical-align: middle;
	border-radius: 0em;
	margin: 0;
}

.about-image-center {
	height: 100%;
	width: 100%;
	display:flex;
	align-items:center;
	justify-content:center;
	margin: 0;
}

.about-content {
	height: 80vh;
	width: 50vw;
	margin: 0;
	float: left;
	display: inline-block;
	margin-top: 10vh;
}

.about-text {
	padding: 2.5em;
	text-align: justify;
	padding-right: 5em;
	padding-left: 1vw;
	font-size: 1.25em;
	padding-top: 0em;
	font-family: $bodyfont;
	letter-spacing: 0em;
	color: black;
	margin: 0;
	word-wrap: break-word;
	hyphens: auto;
}

.about-title-text {
	margin-bottom: .5vw;
	padding: .75vw 1vw 0em 1vw;
	padding-left: 1vw;
	font-family: $mainfont;
	font-size: 3vw;
  font-weight: 900;
  letter-spacing: .15vw;
  text-transform: uppercase;
}

.bold {
	background-color: rgba(0,0,0,0);
	color: $primary;
	font-weight: 700;
}