@import '../../Main.scss';

$blink-time: 0.6s;

.section-header-wrapper {
	width: 100%;
	height: fit-content;
	padding: 4vh;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	
	$num-children: 3;

	&:hover p {
		animation: none;
		&:nth-child(1) { color: rgba(0,0,0,0); }
		&:nth-child(3) { color: rgba(0,0,0,0); }
	}

	p {
		color: rgba(0,0,0,0);
		font-size: 8vh;
		font-family: $display-font;
		margin-right: 2vh;
		-webkit-user-select: none;
		position: relative;
		z-index: 10;

		@for $i from 1 through $num-children {
			&:nth-child(#{$i}) {
				animation-delay: $i * ($blink-time / $num-children);
			}
		}
	}
}

.dark {
	background: $dark-color;
	&:hover p { &:nth-child(2) { color: $accent-color; } }
	p { 
		animation: blink; 
		animation-duration: $blink-time;
		animation-iteration-count: infinite;
		animation-timing-function: steps(2, jump-none);
		transition-duration: 0;
		@include outline($accent-color); 
	}
}

.accent {
	background: $accent-color;
	&:hover p { &:nth-child(2) { color: $dark-color; } }
	p { 
		animation: blink-dark; 
		animation-duration: $blink-time;
		animation-iteration-count: infinite;
		animation-timing-function: steps(2, jump-none);
		transition-duration: 0;
		@include outline($dark-color); 
	}
}