@import '../main.scss';

#circle-1 {
	border-radius: 50%;
	width: 30vw;
	height: 30vw;
	position: fixed;
	z-index: 0;
}

#circle-2 {
	border-radius: 50%;
	width: 20vw;
	height: 20vw;
	position: fixed;
	z-index: 0;
}

@media (orientation: portrait) {
	#circle-1, #circle-2 {
		display: none;
	}
}