@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css');
@import '../main.scss';

.footer {
	width: 100%;
	background-color: $primary;
	color: $bg-color;
	height: 10vh;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	align-items: center;
	justify-items: center;
	
	text-decoration: none;
	font-family: $bodyfont;
	text-transform: uppercase;
	font-weight: 400;
	letter-spacing: .25em;
	color: black;
}

.fa {
  padding: 0em;
  font-size: calc((1.5vw + 2vh)/2);
  text-align: center;
  text-decoration: none;
  margin: 0em calc((1.5vw + 2vh)/2);
	transition: all .25s ease;
	line-height: 2em;
}

.footer-left {
	grid-column: 1;
	justify-self: start;
	padding-left: 2vw;
	z-index: 10;
	font-size: 1vw;
}

.footer-center {
	grid-column: 2;
	z-index: 10;
}

.footer-right {
	grid-column: 3;
	justify-self: end;
	padding-right: 2vw;
	text-align: right;
	z-index: 10;
	font-size: 1vw;
}

@media (orientation: portrait) {
	.footer-left, .footer-right {
		display: none;
	}
	
	.footer-center {
		grid-column: 1/4;
	}
}