@import '../main.scss';

.work-header {
	max-width: 100% !important;
  overflow: hidden;
	display: grid;
	grid-rows: 1;
	padding: 1em;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	color: white;
	background-color: grey;
	z-index: 2;
	height: 35vh;
	box-shadow: 0em -10em 7em -7em rgba(0,0,0,0.5) inset;
}

code {
	font-size: 1em;
	background-color: $bg-color;
	color: #777;
	padding: 0em .2em;
	border-radius: .1em;
	margin: 0;
	display: inline-block;
	float: left;
	margin-left: .6em;
	font-weight: 400;
	font-family: $bodyfont;
}

.work-name {
	font-size: 3em;
  font-weight: 900;
  letter-spacing: .25em;
  text-transform: uppercase;
	margin: 0;
	margin-bottom: .2em;
	margin-left: .3em;
}

.work-descrip {
	font-size: 1.5em;
	margin: 0;
	display: inline-block;
	float: left;
	font-family: $bodyfont;
	margin-left: .6em;
	margin-bottom: .5em;
}

.work-technologies {
	font-size: 1.5em;
	margin: 0;
	display: inline-block;
	float: left;
	font-family: $bodyfont;
	margin-bottom: .5em;
}

.back {
	grid-row: 1;
	padding-top: 1em;
}

.titles {
	grid-row: 2;
	align-self: end;
	justify-self: start;
}

