@import '../../Main.scss';

.projects-wrapper {
	display: grid;
	padding: 0 calc((100% - 120vh - 3vw)/2);
	background: $accent-color;
	position: relative;
}

.resize {
	grid-template-columns: 60vh;
	padding: 0 calc((100vw - 60vh)/2);
	padding-bottom: 5vh;
}