@import '../../Main.scss';

.project-thumbnail-wrapper {
	width: 100%;
	height: min(30vh, 30vw);
	padding: 1vh;
	background: $dark-color;
	cursor: pointer;
	transition: all 0.5s ease;

	border: 0.15vh solid rgba(0,0,0,0);

	a { text-decoration: none;}

	.project-thumbnail {
		width: 100%;
		height: 100%;
		background-position: center;
		background-size: cover;

		display: flex;
		align-items: center;
		justify-content: center;

		transition: all .25s ease;

		.project-title {
			width: 100%;
			height: 100%;
			display: flex;
			align-items: center;
			justify-content: center;
			padding: 1em;

			background: rgba($light-color, 0.25);
			backdrop-filter: blur(0.5vh) saturate(150%);

			text-align: center;
			font-family: $display-font;
			font-size: min(5vh, 5vw);
			color: $dark-color;
			transition: all 0.5s ease;
		}
	}

	&:hover {
		background: rgba($dark-color, 0);
		border-color: $dark-color;
		transition: all 0.5s ease;

		.project-title {
			color: rgba($dark-color,0);
			@include outline($color: $dark-color);
			transition: all 0.5s ease;
		}
	}
}

.projects-section-wrapper {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	height: fit-content;
	padding-bottom: 5vh;
	background: $accent-color;

	.projects-wrapper {
		width: min(100vh, 80vw);
		display: grid;
		grid-template-columns: 50% 50%;
		gap: 3vh;
	}
}

.resize {
	
}