@import '../../Main.scss';

.project-wrapper {
	width: 60vh;
	height: 35vh;
	cursor: pointer;
	padding: 3vh;
	transition: all 1s ease;
	position: absolute;
	
	&:nth-child(even) {
		right: calc((100% - 120vh - 3vw)/2);
	}

	&:nth-child(odd) {
		left: calc((100% - 120vh - 3vw)/2);
	}

	&:hover {
		width: calc(120vh + 3vw);
		z-index: 100;
		transition: all 1s ease;

		.project-picture .project-title { 
			@include outline($light-color); 
			color: rgba(0,0,0,0); 
			backdrop-filter: blur(.5vh);
		}
		
	}

	.project-picture {
		width: 100%;
		height: 100%;
		background-position: center;
		background-size: cover;

		.project-title {
			display: flex;
			align-items: flex-end;
			justify-content: flex-start;
			width: 100%;
			height: 100%;
			padding: 1vh 2vh;
			background: rgba($dark-color,.5);

			font-size: 5vh;
			font-family: $display-font;
			color: $light-color;
		}
	}
}

.project-popup-wrapper {
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	background: rgba(0,0,0,.5);
	z-index: 100;
	display: flex;
	justify-content: center;
	align-items: center;

	.project-popup {
		margin: 0;
		width: calc(100% - 50vh);
		height: fit-content;
		max-height: calc(100% - 20vh);
		margin: 0;
		padding: 5vh min(10%, 50vh);
		background: $dark-color;
		font-family: $main-font;
		color: $accent-color;
		position: relative;

		.project-close {
			position: absolute;
			top: 2vh;
			left: 2vh;
			font-size: 2em;
			cursor: pointer;

			&:hover { color: $light-color; }
		}

		.project-popup-icons {
			height: 10vh;
			width: fit-content;
			display: grid;
			grid-template-columns: auto;
			grid-template-rows: 1fr;
			gap: 5vh;
			align-content: center;
			justify-items: start;
			* { 
				color: $accent-color; 
				grid-row: 1;
			}
		}
	}
}

.wrapper-resize {
	.project-popup {
		width: calc(100% - 20vh);
	}
}