@import '../../Main.scss';

.header-resize {
	flex-direction: column;
	height: 15vh !important;

	.header-logo {
		.logo-text {
			.logo-s { width: fit-content !important; margin-right: 0.3em; }
			.logo-g { width: fit-content !important; }
		}
	}
}

.header-wrapper {
	width: 100%;
	height: 10vh;

	padding: 4vh 12vh 0vh 12vh;
	display: flex;
	align-items: center;
	justify-content: space-between;

	.header-logo {
		height: 100%;
		width: fit-content;

		display: flex;
		align-items: center;
		justify-content: space-between;

		font-size: 2em;
		font-weight: bold;
		font-family: $display-font;

		.goo-wrapper {
			height: 2em;
			width: 2em;
			z-index: -2;
			transform: translateX(-7.4em)
		}
	}

	.header-links {
		display: flex;
		align-items: center;
		justify-content: flex-end;
		cursor: pointer;

		a { text-decoration: none; }
		
		* { 
			margin-right: 1.25em; 
			&:last-child { margin-right: 0em;}
		}

		.header-link {
			font-size: 1.25em;
			font-weight: bold;
			position: relative;
			color: $dark-color;
			user-select: none;

			&:hover { &:after { width: 100%; transition: width 0.25s ease; } }

			&:after {
				content: '';
				position: absolute;
				width: 0; height: .25em;
				background-color: $dark-color;
				bottom: -0.25em; left: 0;
				transition: width 0.25s ease;
			}
		}

		.active { color: $accent-color; &:after { background-color: $accent-color; } }
	}
}