@import '../../Main.scss';

.icon-wrapper {
	width: auto;
	height: auto;
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 2em 0;
	position: relative;
	cursor: pointer;
	z-index: 10;
	
	* {
		font-size: 2em;
		line-height: 0em;
		color: $accent-color;
	}

	&:hover .icon-circle { opacity: 1 }

	.icon-circle {
		position: absolute;
		width: 300%;
		height: auto;
		top: 0%;
		opacity: 0;
		z-index: 20;

		svg {
			fill: $light-color;
		}
	}
}