@import '../../Main.scss';

.experience-wrapper {
	width: 100vw;
	padding: 0 5vw;
	height: fit-content;
	background: $dark-color;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	position: relative;

	.experience-border {
		height: 1vh;
		width: min(80vh, 80vw);
		display: flex;
		align-items: center;
		justify-content: space-evenly;

		.experience-border-element {
			border: .15vh solid $accent-color;
			margin: 0 1vh;
			width: 25vh;
			height: 100%;
			transform: skew(-30deg);

			&:nth-child(2) { background: $accent-color; }
		}
	}

	.experience-text {
		padding: 5vh;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;

		.experience-header {
			display: flex;
			align-items: center;
			justify-content: center;
			-webkit-user-select: none;
	
			.experience-organization {
				font-size: min(5vh, 6vw);
				font-family: $display-font;
				color: rgba(0,0,0,0);
				text-align: right;
				@include outline;
			}
	
			.experience-separation {
				margin: 0 1em;
				width: 0.5vh;
				min-width: 0.5vh;
				height: 2vh;
				background: $accent-color;
				transform: skew(0, 30deg);
			}
			
			.experience-title {
				font-size: min(5vh, 6vw);
				font-family: $display-font;
				color: $accent-color;
			}
		}

		.experience-dates {
			font-family: $display-font;
			color: $accent-color;
			margin-bottom: 1em;
			font-size: min(3vh, 4vw);
			display: flex;
			align-items: center;
			justify-content: center;

			.experience-bullet {
				margin: 0 1em;
				width: 2vh;
				height: 0.5vh;
				background: $accent-color;
				transform: skew(30deg);
			}
		}
	
		.experience-descriptions {
	
			.experience-description {
				display: flex;
				align-items: center;
				justify-content: flex-start;
	
				.experience-bullet {
					margin-right: 1em;
					width: 2vh;
					min-width: 2vh;
					height: 0.5vh;
					background: $accent-color;
					transform: skew(30deg);
				}
	
				font-size: min(2.25vh, 3vw);
				color: $light-color;
				font-weight: bold;
				font-family: $main-font;
				margin: 0.5em 0;
			}
		}
	}
}