@font-face {
	font-family: "Grobek";
	src: url("./Assets/Fonts/Grobek/Grobek-Thin.ttf") format("truetype");
	font-weight: 100;
	font-style: normal;
}

@font-face {
	font-family: "Grobek";
	src: url("./Assets/Fonts/Grobek/Grobek-Light.ttf") format("truetype");
	font-weight: 200;
	font-style: normal;
}

@font-face {
	font-family: "Grobek";
	src: url("./Assets/Fonts/Grobek/Grobek-Regular.ttf") format("truetype");
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: "Grobek";
	src: url("./Assets/Fonts/Grobek/Grobek-Medium.ttf") format("truetype");
	font-weight: 500;
	font-style: normal;
}

@font-face {
	font-family: "Grobek";
	src: url("./Assets/Fonts/Grobek/Grobek-Bold.ttf") format("truetype");
	font-weight: 600;
	font-style: normal;
}

@font-face {
	font-family: "Grobek";
	src: url("./Assets/Fonts/Grobek/Grobek-Black.ttf") format("truetype");
	font-weight: 700;
	font-style: normal;
}

@font-face {
	font-family: "Grobek";
	src: url("./Assets/Fonts/Grobek/Grobek-Heavy.ttf") format("truetype");
	font-weight: 900;
	font-style: normal;
}