@import '../../Main.scss';

.projects-resize { 
	padding: 8vh 10vw !important;

	.project-info-wrapper {
		display: flex !important;
		flex-direction: column !important;
	}
}

.projects-section-wrapper {
	width: 100%;
	height: fit-content;

	padding: 8vh 24vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
	gap: 6vh;

	.projects-section {
		width: 100%;
		display: flex;
		flex-direction: column;
		gap: 3vh;

		.projects-section-header {
			display: flex;
			align-items: center;
			justify-content: space-between;
			position: relative;
			margin-bottom: 0.5em;
	
			width: 100%;
			font-size: 2em;
			font-weight: bold;
			user-select: none;
	
			&:after {
				content: '';
				position: absolute;
				margin: auto;
				width: 100%;
				height: .25em;
				background: $dark-color;
				bottom: -0.5em;
			}		
		}

		.projects-wrapper {
			width: 100%;
			height: fit-content;
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: flex-end;

			.open {
				.project-info-wrapper { 
					height: auto !important;
					padding: 4vh !important;
				}
			}

			.project-wrapper {
				width: 100%;
				display: flex;
				flex-direction: column;

				&:hover {
					.project-header { 
						color: $accent-color; 
						border-bottom-color: $accent-color;
						&:after { background: $accent-color !important; }
					}
	
					.project-plus { .plus-vertical, .plus-horizontal { background: $accent-color !important; }}
				}

				.project-header {
					display: flex;
					align-items: center;
					justify-content: space-between;
					position: relative;
			
					width: 100%;
					font-size: 1.5em;
					font-weight: bold;
					user-select: none;
					padding-bottom: 0.25em;
					border-bottom: 0.7vh solid black;

					.project-plus {
						height: 2vh;
						width: 2vh;
						position: relative;
			
						$plus-thickness: 30%;
			
						.plus-vertical, .plus-horizontal { 
							position: absolute; 
							background-color: $dark-color;
							margin: auto;
							height: 100%; width: 100%;
							top: 0; left: 0; bottom: 0; right: 0;
						}
			
						.plus-vertical { width: $plus-thickness; transition: height ease 0.25s; }
						.plus-horizontal { height: $plus-thickness; }
					}

					.expanded .plus-vertical { height: 0 }
				}

				.project-info-wrapper {
					display: grid;
					grid-template-columns: 1fr 2fr;
					gap: 4vh;

					background: $light-color;
					padding: 0;
					width: 100%;
					margin-bottom: 3vh;
					height: 0;
					overflow: hidden;

					.project-main {
						display: flex;
						flex-direction: column;
						align-items: flex-start;
						justify-content: flex-start;
						gap: 2vh;

						.project-subtitle {
							font-size: 1.25em;
							font-weight: bold;
							color: $medium-color;
							user-select: none;
						}

						.project-tags {
							display: flex;
							flex-direction: row;
							align-items: center;
							justify-content: flex-start;
							gap: 1vh;

							.project-tag {
								font-size: 1em;
								font-weight: bold;
								background: $medium-color;
								color: $light-color;
								padding: 0.25vh 0.75vh;
								border-radius: .5vh;
								user-select: none;
							}
						}

						.project-links {
							display: flex;
							flex-direction: row;
							align-items: center;
							justify-content: flex-start;
							gap: 2vh;

							.project-link {
								display: flex;
								align-items: center;
								justify-content: center;
								gap: 1vh;

								text-decoration: none;
								font-size: 1em;
								font-weight: bold;
								background: $dark-color;
								color: $light-color;
								padding: 0.25vh 0.75vh;
								border-radius: .5vh;
								user-select: none;
								transition: all 0.25s ease;

								&:hover { background: $accent-color;}
							}
						}
					}

					.project-description {
						display: flex;
						flex-direction: column;
						align-items: flex-start;
						justify-content: flex-start;

						font-size: 1em;
						text-align: justify;
					}
				}
			}
		}
	}
}