@import '../../Main.scss';

.about-wrapper {
	width: 100%;
	height: 60vh;
	background: $accent-color;
	display: flex;
	align-items: center;
	justify-content: center;
	position: relative;

	.visible svg {
		animation: draw;
		animation-duration: 2s;
		animation-iteration-count: 1;
		animation-fill-mode: forwards;
		animation-timing-function: ease-in-out;

		@keyframes draw { to { stroke-dashoffset: 0; } }
	}

	.about-image-wrapper {
		width: 45vh;
		height: 100%;
		position: relative;
		margin-right: auto;
		margin-left: 5%;

		svg {
			stroke-dasharray: 1400;
			stroke-dashoffset: 1400;
			stroke-linecap: butt;
			position: absolute;
			stroke: $light-color;
			stroke-width: 1.5vh;
			width: 100%;
			height: auto;
			z-index: 10;
		}
	}


	.about-right-wrapper {
		width: 80%;
		height: fit-content;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		position: absolute;

		.about-resume {
			font-family: $display-font;
			font-size: 6vh;
			text-align: right;
			width: 100%;

			a {
				text-decoration: none;
				color: $dark-color;

				&:hover { 
					text-decoration: underline;
				}
			}
		}

		.about-text-wrapper {
			width: 100%;
			height: fit-content;
			background: $dark-color;
			display: flex;
			align-items: center;
			justify-content: flex-end;
	
			.about-text {
				text-align: justify;
				hyphens: auto;
				width: calc(100% - 40vh);
				height: fit-content;
				padding: 5vh;
				padding-left: 0;
				font-family: $main-font;
				color: $light-color;
				font-size: 2.25vh;
				font-weight: bold;
	
				.about-hi {
					float: left;
					width: 6vh;
					height: fit-content;
					margin-right: 1.5vh;
					margin-top: 0.5vh;

					svg { 
						stroke-dasharray: 1400;
						stroke-dashoffset: 1400;
						stroke-linecap: round;
						width: 100%;
						height: auto;
						stroke: $light-color;
						stroke-width: 1.5vh;
					}

					.visible svg {
						animation: draw;
						animation-duration: 2s;
						animation-iteration-count: 1;
						animation-fill-mode: forwards;
						animation-timing-function: ease-in-out;

						@keyframes draw { to { stroke-dashoffset: 0; } }
					}
				}
			}
		}
	}

}

.resized {
	flex-direction: column !important;
	align-items: center;
	justify-content: flex-end;
	height: fit-content;
	padding-bottom: 5vh;

	.about-image-wrapper {
		position: static;
		width: min(45vh, 80vw);
		margin: 0;
		margin-bottom: -20vh;

		svg { position: static; max-height: 100%; max-width: 100%; }
	}

	.about-right-wrapper {
		width: 80%;
		position: static;

		.about-text-wrapper {
			position: static;
			z-index: 20;
	
			.about-text {
				font-size: min(2.25vh, 4vw);
				width: 100%;
				padding-left: 2em;
			}
		}
	}
}