.card {
	display: flex;
	align-items: flex-end;
	justify-content: flex-start;
	padding: 1em;
	background-size: cover;
	background-position: bottom;
	color: white;
	background-color: grey;
	z-index: 2;
}

.card-name {
	color: white;
}

#work-name {
	font-size: 2em;
}

#work-descrip {
	font-size: 1.5em;
	font-style: italic;
}
