@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@800&display=swap');

$display-font: 'Manrope', sans-serif;
$main-font: 'Manrope', sans-serif;

$dark-color: #000000;
$accent-color: #FF822F;

body, #root, .body {
	width: 100vw;
	height: 100vh;
	overflow: hidden;
	overscroll-behavior: none;
	cursor: cell;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	transition: all 0.25s ease;
	font-family: $main-font;
}